.Login {
  background: #fafafa;
}

.Login-main {
  padding-top: 20px;
  padding-bottom: 32px;
  display: flex;
}

.login-left {
  display: none;
}

.login-background {
  position: relative;
}

.login-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.image-slider {
  width: 240px;
  height: 427px;
  position: absolute;
  top: 100px;
  right: 63px;
  background-color: red;
}

@media only screen and (min-width: 876px) {
  .login-card {
    align-items: flex-start;
    width: 50%;
  }
  .login-background {
    background: #fafafa url("background.png") no-repeat right center;
    width: 454px;
    height: 618px;
  }
  .login-left {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.form {
  padding: 20px 0;
}

.form-div {
  overflow: hidden;
  text-align: center;
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin: 10px auto 18px auto;
}

.form-div:before,
.form-div:after {
  background-color: #bdbdbd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.form-div:before {
  right: 0.5em;
  margin-left: -50%;
}

.form-div:after {
  left: 0.5em;
  margin-right: -50%;
}

.facebook-button {
  cursor: pointer;
  height: 21px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.facebook-text {
  color: #385185;
  height: 14px;
  font-weight: 600;
}

.forget {
  display: block;
  margin-top: 12px;
  text-decoration: none;
  color: #00376b;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
  text-align: center;
}

.sign-up__box {
  text-align: center;
}

.sign-up__box a {
  color: #0095f6;
  font-weight: 600;
  text-decoration: none;
}

.get-app {
  display: block;
  margin: 10px 20px;
  text-align: center;
}

.get-app__imgs {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.get-app__imgs img {
  width: 136px;
}

.Login-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 52px;
}

.items-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 16px;
  gap: 10px;
}

.items-footer a {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 12px;
  line-height: 16px;
}

.language-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.language-footer p {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 16px;
  margin: 12px 0;
  font-weight: 400;
}
